---
import BlogPost from '../../layouts/BlogPost.astro';
---

<BlogPost
  title="Future blog posts"
  publishDate="March 08, 2025"
  description="Blog posts will appear in the future, covering any development feature or subject relative to software development, business structures or SaaS marketing."
>
  <p>
    Blog posts will appear in the future, covering any development feature or subject relative to software development, business structures or SaaS marketing.
  </p>

  <h2 class="text-3xl font-bold my-3">Blog content</h2>
  <ul>
    <li>New SaaS feature</li>
    <li>SEO news</li>
    <li>Statistics overview</li>
  </ul>
</BlogPost>